body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4b2a7a, #d17ae5, #4b2a7a);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#confetti-canvas{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
